#content {
  background: #ddd;
  width: 800px;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.player {
  position: absolute;
  background: blue;
}

.ground {
  position: absolute;
  background: red;
}