body {
  margin: 0;
}

#content {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

#hud {
  position: fixed;
  padding: .2em .5em;
  left: 0;
  bottom: 0;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, .6);
}

.player {
  position: absolute;
  background: blue;
}

.ground {
  cursor: all-scroll;
  position: absolute;
  background: red;
}